.resource-card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin: 15px;
}

.bref {
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(116, 116, 116);
}
.header {
  padding-bottom: 30px;
}

.card {
  margin: 20px;
  // padding: 10px;
  width: 200px;
  height: 280px;
  // display: flex;
  background-color: white;
  border-radius: 8px;
  border: rgb(197, 194, 194) 1px solid;
  overflow: hidden;
  box-shadow: rgb(100, 99, 99) 1px 3px 3px;
}

.name {
  text-align: center;
}
